version: '3.8'

services:
  django:
    build: .
    container_name: django_app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file: .env
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: .env
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: celery_worker
    command: ["celery", "-A", "servewell.celery", "worker", "--loglevel=info"]
    depends_on:
      - django
      - redis
    env_file: .env

  celery-beat:
    build: .
    container_name: celery_beat
    command: ["celery", "-A", "servewell.celery", "beat", "--loglevel=info"]
    depends_on:
      - django
      - redis
    env_file: .env

volumes:
  postgres_data: